.white-bg {
    margin-top: 25vh;
    background-color: #fff;
    border: 5px solid black;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}

.black-bg {
    margin-top: 25vh;
    background-color: black;
    border: 5px solid yellow;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}