<div class="container">
    <div class="title">
        <div>
            <h2>Dashboard</h2>
            <hr />
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <h5 style="margin-top: 4px">Recipies App</h5>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <hr />
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <button class="btn btn-dark btn-block float-right" [routerLink]="['/recipies']" routerLinkActive="router-link-active" >Go to Recipies App</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <h5 style="margin-top: 4px">Movies Review App</h5>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <hr />
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <button class="btn btn-block btn-dark float-right" [routerLink]="['/movies/search']" routerLinkActive="router-link-active">Go to Movies App</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <h5 style="margin-top: 4px">Employee App</h5>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <hr />
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <button class="btn btn-block btn-dark float-right" [routerLink]="['/employee-directory']" routerLinkActive="router-link-active">Go to Employee App</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <h5 style="margin-top: 4px">Theme Switch App</h5>
                        </div>
                        <div class="col-sm-6">
                            <hr />
                        </div>
                        <div class="col">
                            <button class="btn btn-block btn-dark float-right" [routerLink]="['/themeSwitch']" routerLinkActive="router-link-active">Go to Theme Switch App</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <h5 style="margin-top: 4px">App</h5>
                        </div>
                        <div class="col-sm-6">
                            <hr />
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>