.row {
    margin-top: 5vh;
}

.main-cards {
    margin-bottom: 5vh;
}

.card {
    margin-top: 20px;
}

.card-img-top {
    height: 30vh;
}

.hover-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn {
    color: #fff;
}

.btn-danger {
    margin-left: 15px;
}
