<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="card hover-shadow">
      <div class="card-body">
        <h5 class="card-title">Add New Receipie</h5>
        <hr />
        <p class="card-text">Add new Recipies to the Array for display</p>
        <a class="btn btn-info" (click)="openForm()" tabindex="0">Add New</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="card text-white bg-dark hover-shadow">
      <div class="card-body">
        <h5 class="card-title">Return To Dashboard</h5>
        <hr style="border-top: 1px solid white;" />
        <p class="card-text">Explore other things</p>
        <a class="btn btn-info" [routerLink]="['/']" routerLinkActive="router-link-active"  tabindex="0">Go To Home</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 main-cards" *ngFor="let item of foodArray; let i = index">
    <div class="card hover-shadow">
      <img src="{{ item.imgLink }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{ item.desc }}</p>
        <a [routerLink]="['food-detail', item.name]" routerLinkActive="router-link-active"
          class="btn btn-info">Details</a>
        <a class="btn btn-danger" (click)="removeRecipie(item.name, item.desc)">Delete</a>
      </div>
    </div>
  </div>
</div>