mat-form-field {
    width: 100%;
}

mat-card {
    margin-top: 3vh;
}

h2 {
    margin-top: 10px;
}

.btn {
    margin-top: 10px;
}

.first-card {
    margin-top: 11vh;
}

.results {
    max-height: 55vh;
    overflow: scroll;
}